.controlPanel {
/*Positioning stuff*/
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
/*Box model stuff*/
	margin: 15px;
	padding: 5px;
	border-radius: 4px;
	background-image: linear-gradient(180deg, #b03eee, #e640f8);
}

.playbackCntrls {
/*Box model stuff*/
	padding: 5px 0px 5px 0px;
}

.time {
/*Box model stuff*/
	padding: 0px 15px 0px 15px;
}

.volume {
/*Box model stuff*/
	padding: 0px 5px 0px 5px;
}

.volIcon {
/*Box model stuff*/
	height: 16px;
}

.slider:disabled {
/*Box model stuff*/
	background: red;
}

.MuiSlider-root.Mui-disabled {
/*Manipulations stuff*/
	opacity: 50%;
}

.icon {
/*Box model stuff*/
	height: 30px;
/*Miscellaneous*/
	pointer-events: none;
}

