.albumArtwork {
	border-radius: 4px;
	height: -webkit-fill-available;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	padding: 15px 0px 15px 0px;
}

@media screen and (max-height: 780px) {
	.albumArtwork {
		height: 25vh;
	}
}

@media screen and (min-height: 781px) and (max-height: 870px) {
	.albumArtwork {
		height: 30vh;
	}
}

@media screen and (min-height: 871px) {
	.albumArtwork {
		width: 100%;
	}
}

.song {
	text-align: left;
	color: #606060;
	font-size: 24px;
	font-weight: bold;
	display: flex;
	margin: 10px 0px 10px 0px;
}

.artistImg {
	object-fit: cover;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	pointer-events: none;
}

.artist {
	text-align: left;
	display: flex;
	margin: 10px 0px 10px 0px;
}

.artistName {
	font-size: 18px;
	text-align: left;
	color: #606060;
	font-size: 18px;
	font-weight: bold;
	padding: 6px 0px 0px 6px;
}