.chat {
	background-color: #c68eef;
	grid-row-start: 1;
	grid-row-end: 3; /* TODO: Fix Later, should be 2 and working but it doesn't work unless its 3*/
	grid-column: 3 / 3;
	border-radius: 10px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 100%;
}

.chatContent {
	background-color: white;
	padding: 24px;
	border-radius: 10px;
	height: 75%;
	display: flex;
	flex-direction: column;
}

.chatInput {
	background-color: white;
	border-radius: 10px;
	height: 16%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow-y: auto;
}

.input {
	padding: 8px 0 0 12px;
	width: 80%;
}

.pinnedMessages {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	max-height: 40%;
}

.pinnedMessagesContent {
	overflow-y: auto;
}

.expandPinnedMessages {
	opacity: 0.5;
	font-size: 14px;
	margin: 0;
	margin-bottom: 8px;
}

.expandPinnedMessages:hover {
	cursor: pointer;
	opacity: 0.8;
}

.expandMessagesContent {
	display: flex;
	align-items: center;
	float: right;
}

.messagesContainer {
	overflow-y: auto;
}

.inputContent {
	width: 88%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 0 0 10px;
}

.replyMessage {
	margin: 0;
	font-size: 13px;
	background-color: #f8e9fc;
	padding: 4px;
	border-radius: 10px;
	width: 100%;
	display: flex;
	color: #a49da5;
	justify-content: space-between;
}

.dismissReply {
	opacity: 0.5;
}

.dismissReply:hover {
	opacity: 1;
	cursor: pointer;
}
