.chat {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    grid-column: 3 / 3;
    grid-row-start: 1;
    grid-row-end: 3; 
/*Box model stuff*/
    max-width: 100%;
    padding: 24px;
    border-radius: 10px;
    background-color: var(--chatBackgroundColor);
/*Miscellaneous*/
    gap: 24px;
}

.chatContent {
/*Display stuff*/
    display: flex;
    flex-direction: column;
/*Box model stuff*/
    height: 75%;
    padding: 24px;
    border-radius: 10px;
    background-color: var(--fieldColor);
}

.chatInputContainer {
/*Display stuff*/
    display: flex;
    flex-direction: column;
/*Box model stuff*/
    width: calc(0.4 * 100vw);
    height: 16%;
    border-radius: 10px;
    background-color: var(--fieldColor);
}

.chatInput {
/*Display stuff*/
    display: flex;
    justify-content: space-between;
/*Box model stuff*/
    width: calc(0.4 * 100vw);
    height: 80%;
    border-radius: 10px;
    background-color: var(--fieldColor);
/*Miscellaneous*/
    overflow-y: auto;
}

.input {
/*Box model stuff*/
    width: 80%;
    padding: 8px 0 0 12px;
}

.pinnedMessages {
/*Display stuff*/
    display: flex;
    flex-direction: column;
/*Positioning stuff*/
    position: sticky;
    top: 0;
/*Box model stuff*/
    max-height: 40%;
}

.pinnedMessagesContent {
/*Miscellaneous*/
    overflow-y: auto;
}

.expandPinnedMessages {
/*Box model stuff*/
    margin: 0;
    margin-bottom: 8px;
/*Typography stuff*/
    font-size: 14px;
/*Manipulations stuff*/
    opacity: 0.5;
}

.expandPinnedMessages:hover {
/*Manipulations stuff*/
    opacity: 0.8;
/*Miscellaneous*/
    cursor: pointer;
}

.expandMessagesContent {
/*Display stuff*/
    display: flex;
    align-items: center;
/*Miscellaneous*/
    float: right;
}

.messagesContainer {
/*Miscellaneous*/
    overflow-y: auto;
}

.inputContent {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
/*Box model stuff*/
    width: 88%;
    padding: 12px 0 0 10px;
}

.replyMessage {
/*Display stuff*/
    display: flex;
    justify-content: space-between;
/*Box model stuff*/
    width: calc(100%);
    margin: 0;
    padding: 4px;
    border-radius: 10px;
    background-color: var(--replyBackgroundColor);
/*Typography stuff*/
    font-size: 13px;
    color: #a49da5;
/*Miscellaneous*/
    box-sizing: border-box;
}

.replyMessageText {
/*Box model stuff*/
    margin: 0;
/*Typography stuff*/
    text-align: left;
    text-overflow: ellipsis;
    color: var(--replyTextColor);
/*Miscellaneous*/
    white-space: nowrap;
    overflow: hidden;
}

.dismissReply {
/*Manipulations stuff*/
    opacity: 0.5;
}

.dismissReply:hover {
/*Manipulations stuff*/
    opacity: 1;
/*Miscellaneous*/
    cursor: pointer;
}

.pillContainer {
/*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
/*Positioning stuff*/
    position: relative;
/*Box model stuff*/
    height: 20%;
    padding: 6px;
    border-radius: 0 0 10px 10px;
    background-color: var(--pillContainerBackgroundColor);
/*Miscellaneous*/
    gap: 12px;
}

.quickAddText {
/*Box model stuff*/
    margin: 0;
/*Typography stuff*/
    font-size: 12px;
    text-align: left;
    color: var(--pillTextColor);
}
