.chat {
	background-color: var(--chatBackgroundColor);
	grid-row-start: 1;
	grid-row-end: 3; /* TODO: Fix Later, should be 2 and working but it doesn't work unless its 3*/
	grid-column: 3 / 3;
	border-radius: 10px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 100%;
}

.chatContent {
	background-color: var(--fieldColor);
	padding: 24px;
	border-radius: 10px;
	height: 75%;
	display: flex;
	flex-direction: column;
}

.chatInputContainer {
	background-color: var(--fieldColor);
	height: 16%;
	border-radius: 10px;
	width: calc(0.4 * 100vw);
	display: flex;
	flex-direction: column;
}

.chatInput {
	background-color: var(--fieldColor);
	border-radius: 10px;
	height: 80%;
	width: calc(0.4 * 100vw);
	display: flex;
	justify-content: space-between;
	overflow-y: auto;
}

.input {
	padding: 8px 0 0 12px;
	width: 80%;
}

.pinnedMessages {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	max-height: 40%;
}

.pinnedMessagesContent {
	overflow-y: auto;
}

.expandPinnedMessages {
	opacity: 0.5;
	font-size: 14px;
	margin: 0;
	margin-bottom: 8px;
}

.expandPinnedMessages:hover {
	cursor: pointer;
	opacity: 0.8;
}

.expandMessagesContent {
	display: flex;
	align-items: center;
	float: right;
}

.messagesContainer {
	overflow-y: auto;
}

.inputContent {
	width: 88%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 12px 0 0 10px;
}

.replyMessage {
	margin: 0;
	font-size: 13px;
	background-color: var(--replyBackgroundColor);
	padding: 4px;
	border-radius: 10px;
	width: calc(100%);
	display: flex;
	color: #a49da5;
	justify-content: space-between;
	box-sizing: border-box;
}

.replyMessageText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	margin: 0;
	color: var(--replyTextColor);
}

.dismissReply {
	opacity: 0.5;
}

.dismissReply:hover {
	opacity: 1;
	cursor: pointer;
}

.pillContainer {
	position: relative;
	height: 20%;
	background-color: var(--pillContainerBackgroundColor);
	border-radius: 0 0 10px 10px;
	padding: 6px;
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
}

.quickAddText {
	text-align: left;
	margin: 0;
	font-size: 12px;
	color: var(--pillTextColor);
}
