.pinnedMessage {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-between;
/*Box model stuff*/
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 10px;
    background-color: var(--pinnedBackgroundColor);
}

.content {
/*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
/*Box model stuff*/
    width: 100%;
}

.message {
/*Box model stuff*/
    margin: 0 0 0 10px;
/*Typography stuff*/
    font-size: 14px;
    color: var(--headingColor);
}

.pin {
/*Manipulations stuff*/
    opacity: 0.5;
}

.profileImage {
/*Box model stuff*/
    width: 30px;
    height: 30px;
    margin-right: 4px;
    border-radius: 50%;
/*Miscellaneous*/
    object-fit: cover;
}

.delete {
/*Manipulations stuff*/
    opacity: 0.5;
}

.delete:hover {
/*Manipulations stuff*/
    opacity: 0.7;
/*Miscellaneous*/
    cursor: pointer;
}
