.pinnedMessage {
	background-color: #cc3ae420;
	border-radius: 10px;
	padding: 12px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.content {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}

.message {
	margin: 0 0 0 10px;
	opacity: 0.6;
	font-size: 14px;
}

.pin {
	opacity: 0.5;
}

.profileImage {
	width: 5%;
	border-radius: 50%;
}
