.pillContainer {
/*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
/*Box model stuff*/
    height: 100%;
/*Miscellaneous*/
    gap: 12px;
}

.pillContainer:hover {
/*Miscellaneous*/
    cursor: pointer;
}

.pillContent {
/*Display stuff*/
    display: flex;
    align-items: center;
/*Box model stuff*/
    width: fit-content;
    height: 100%;
    padding: 2px 6px 2px 4px;
    border-radius: 50px;
    background-color: var(--pillBackgroundColor);
}

.pillText {
/*Box model stuff*/
    padding-right: 8px;
/*Typography stuff*/
    font-size: 12px;
    color: var(--pillTextColor);
}
