.icon {
/*Display stuff*/
	display: flex;
	align-items: center;
	justify-content: center;
/*Box model stuff*/
	width: 40px;
	height: 40px;
	margin: auto;
	padding: 4px;
	border-radius: 25px;
	background-color: #e2bff6;
}

.sectionHeading {
/*Positioning stuff*/
	position: relative;
/*Box model stuff*/
	margin: 0px;
	padding: 20px 0px 10px 0px;
/*Typography stuff*/
	font-size: 16px;
	font-weight: 800;
	color: var(--headingColor);
}

.buttons {
/*Display stuff*/
	display: flex;
	justify-content: center;
/*Box model stuff*/
	padding: 20px 0px 20px 0px;
}

.secondaryButton {
/*Box model stuff*/
	background: linear-gradient(#bebebe, #ededed);
}

.spacing {
/*Box model stuff*/
	margin-top: 100px;
}

.errorPage {
/*Display stuff*/
	display: flex;
	flex-direction: column;
	align-items: center;
/*Box model stuff*/
	height: 100%;
	padding-bottom: 100%;
	padding-top: 100px;
}


.helperText {
/*Display stuff*/
    display:flex;
    justify-content: center;
/*Typography stuff*/
    font-size: 16px;
    color: rgb(218, 0, 0);
}