.listenersImages {
/*Positioning stuff*/
	position: relative;
/*Manipulations stuff*/
	transform: translateX(-10px);
}
.listenerImage {
/*Positioning stuff*/
	position: relative;
/*Box model stuff*/
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border: 2px solid #ffffff;
	border-radius: 50%;
/*Miscellaneous*/
	object-fit: cover;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}
