.searchBar {
/*Box model stuff*/
    padding: 0px;
    border-color: none;
}

.searchIcon {
/*Box model stuff*/
    padding-right: 10px;
}

.image {
/*Box model stuff*/
    max-width: 100%;
    max-height: 100%;
}
