.chatMessage {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 50%;
	margin-bottom: 16px;
}

.username {
	color: #797979;
	font-size: 14px;
	margin: 0 0 4px 0;
}

.body {
	margin: 0;
	color: white;
	font-weight: 400;
	font-size: 14px;
}
