.heading {
/*Positioning stuff*/
    position: relative;
/*Box model stuff*/
    margin: 0px;
    padding: 0px 24px 0px 24px;
/*Typography stuff*/
    font-size: 32px;
    font-weight: 800;
    color: var(--headingColor);
}

.subHeading {
/*Display stuff*/
    display: flex;
/*Box model stuff*/
    margin: 0px 0px 0px 24px;
    padding: 0px 0px 20px 0px;
/*Typography stuff*/
    font-size: 16px;
    font-weight: 800;
    color: var(--headingColor);
}

.subsubHeading {
/*Display stuff*/
  display: flex;
/*Box model stuff*/
  margin: 0px 0px 0px 24px;
  padding: 0px 0px 20px 0px;
/*Typography stuff*/
  font-size: 15px;
  font-weight: 400;
  color: #757575;
}

.dialogHeader {
/*Display stuff*/
    display: flex;
    align-items: center;
/*Box model stuff*/
    margin: 20px 20px 0px 20px;
}

.helperText {
/*Typography stuff*/
    font-size: 16px;
    color: rgb(218, 0, 0);
}

.secondaryButton {
/*Box model stuff*/
    background: linear-gradient(#bebebe, #ededed);
}

.dialogContent {
/*Positioning stuff*/
    position: relative;
/*Box model stuff*/
    margin: 0px;
    padding: 0px 24px 0px 24px;
/*Typography stuff*/
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: var(--headingColor);
}

.listenerList {
/*Display stuff*/
    display: flex;
    flex-wrap: wrap;
/*Box model stuff*/
    max-height: calc(100vh - 460px);
    margin: 0 20px 20px 20px;
    border: #ababab solid 1px;
    border-radius: 10px;
/*Miscellaneous*/
    overflow: scroll;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scrollbar-width: none; /* Firefox */
}

.listenerList::-webkit-scrollbar {
/*Display stuff*/
    display: none;
}

.listenerListItem {
/*Display stuff*/
    display: flex;
    align-items: center;
/*Box model stuff*/
    width: 100%;
    padding: 10px;
    border-top: var(--fieldBorderColor) solid 1px;
    background-color: var(--fieldColor);
/*Miscellaneous*/
    cursor: pointer;
}

.listenerListItem:hover {
/*Box model stuff*/
    background-color: var(--fieldHoverColor);
}

.listenerListItem:hover p {
/*Typography stuff*/
    color: #b03eee;
}

.listenerListItem img {
/*Box model stuff*/
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
/*Miscellaneous*/
    object-fit: cover;
}

.listenerListItem p {
/*Box model stuff*/
    margin: 0;
/*Typography stuff*/
    font-size: 16px;
}

.hostIcon {
/*Box model stuff*/
    margin-left: auto;
}

.purpleButton {
/*Box model stuff*/
    width: 200px;
    background: linear-gradient(#b03eee, #e640f8);
/*Typography stuff*/
    font-weight: 700;
}

.greyButton {
/*Box model stuff*/
    width: 200px;
    background: linear-gradient(#bebebe, #ededed);
/*Typography stuff*/
    font-weight: 700;
    text-align: center;
}

.secondaryButton {
/*Box model stuff*/
    background: linear-gradient(#bebebe, #ededed);
}

.createButton {
/*Typography stuff*/
    font-weight: 700;
}

.cancelButton {
/*Box model stuff*/
    background: linear-gradient(#ededed, #bebebe);
/*Typography stuff*/
    font-weight: 700;
}
