.studio {
    background-color: rgb(168, 115, 209);
}

.banner {
    background-color: aquamarine;
}

.queue {
    background-color: aquamarine;
}

.nowplaying {
    background-color: aquamarine;
}

.chat {
    background-color: aquamarine;
}