.studio {
/*Display stuff*/
	display: grid;
	grid-template-columns: 2fr 3fr 4fr;
	grid-template-rows: 1fr 5fr;
/*Box model stuff*/
	height: calc(100vh - 56px);
	padding: 20px;
	background-color: var(--backgroundColor);
/*Miscellaneous*/
	grid-gap: 20px;
	box-sizing: border-box;
	overflow-y: auto;
}

.webPlayback {
/*Display stuff*/
	display: flex;
	flex-direction: column;
	grid-column: 1;
	grid-row: 2 / 2;
/*Positioning stuff*/
	position: relative;
/*Box model stuff*/
	margin: 0px;
	padding: 15px;
	border-radius: 4px;
	background-color: var(--nowPlayingBackgroundColor);
}

.songselection {
/*Display stuff*/
	display: flex;
	flex-direction: column;
	grid-column: 2;
	grid-row: 2 / 2;
/*Box model stuff*/
	height: calc(0.7 * 100vh);
	padding-top: 6px;
/*Miscellaneous*/
	gap: 8px;
}

.chat {
/*Display stuff*/
	grid-column: 3 / 3;
	grid-row-start: 1;
	grid-row-end: 3;
/*Box model stuff*/
	border-radius: 4px;
}

.searchResults {
/*Box model stuff*/
	max-height: 40%;
	border: 1px solid #c4c4c4;
	border-radius: 0px 0px 4px 4px;
	background-color: var(--fieldColor);
/*Miscellaneous*/
	overflow: auto;
}
