.studio {
	height: calc(100vh - 82px);
	display: grid;
	grid-template-rows: 1fr 5fr;
	grid-template-columns: 2fr 3fr 4fr;
	grid-gap: 20px;
	padding: 20px;
	box-sizing: border-box;
}

.greyheading {
	color: #606060;
	font-size: 36px;
	font-weight: bolder;
	display: flex;
	padding: 20px;
}

.songGreyHeading {
	color: #606060;
	font-size: 36px;
	font-weight: bolder;
	display: flex;
	margin-bottom: 20px;
}

.queueGreyHeading {
	color: #606060;
	font-size: 36px;
	font-weight: bolder;
	display: flex;
	position: sticky;
	top: 0;
}

.banner {
	grid-row: 1 / 1;
	grid-column: 1 / 3;
	border-radius: 10px;
	min-height: 40px;
	overflow: hidden;
	height: auto;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}

.bannerDropdownKebab {
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.dropdownButton {
	margin: 0;
	padding: 10px 10px 5px 10px;
	cursor: pointer;
}

.icon {
	height: 20px;
	width: 20px;
	padding-right: 15px;
	pointer-events: none;
}

.menu_item {
	color: #606060;
}

.menu_item:hover .menu_title {
	color: #b03eee;
}

.menu_title {
	color: #757575;
	margin: 5px 0px 5px 10px;
	font-size: 16px;
}

.bannerStudioName {
	color: white;
	font-weight: bold;
	margin: 0px;
	font-size: 28px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.bannerlisteners {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	cursor: pointer;
}

.greyOutImage {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.nowplaying {
	background-color: #e9dcf1;
	padding: 15px;
	grid-row: 2 / 2;
	grid-column: 1 / 2;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
}

.songselection {
	grid-row: 2 / 2;
	grid-column: 2 / 2;
	display: flex;
	flex-direction: column;
	height: calc(0.7 * 100vh);
	padding-top: 6px;
	gap: 8px;
}

.chat {
	background-color: #c68eef;
	grid-row-start: 1;
	grid-row-end: 3;
	/* TODO: Fix Later, should be 2 and working but it doesn't work unless its 3*/
	grid-column: 3 / 3;
	border-radius: 4px;
}

.controlPanel {
	background-image: linear-gradient(180deg, #b03eee, #e640f8);
	border-radius: 4px;
	padding: 5px;
}

.playbackCntrls {
	padding: 5px 0px 5px 0px;
}

.albumArtwork {
	border-radius: 4px;
	width: 100%;
	height: auto;
	object-fit: cover;
	padding: 15px 0px 15px 0px;
}

.song {
	text-align: left;
	color: #606060;
	font-size: 24px;
	font-weight: bold;
	display: flex;
	margin: 10px 0px 10px 0px;
}

.artistImg {
	height: 40px;
}

.artist {
	text-align: left;
	display: flex;
	margin: 10px 0px 10px 0px;
}

.artistName {
	font-size: 18px;
	text-align: left;
	color: #606060;
	font-size: 18px;
	font-weight: bold;
	padding: 6px 0px 0px 6px;
}

.time {
	padding: 0px 15px 0px 15px;
}

.volume {
	padding: 0px 5px 0px 5px;
}

.volIcon {
	height: 16px;
}

.songSection {
	flex-grow: 1;
}

.slider:disabled {
	background: red;
}

.MuiSlider-root.Mui-disabled {
	opacity: 50%;
}

@media only screen and (max-width: 800px) or (max-height: 600px) {
	.bannerStudioName {
		font-size: 20px;
	}

	.kebabIcon {
		height: 20px;
	}

	.bannerlisteners {
		transform: scale(0.9);
	}
}

.icon {
	height: 30px;
	pointer-events: none;
}

.searchResults {
	overflow: auto;
	border: 1px solid #c4c4c4;
	border-radius: 0px 0px 4px 4px;
	background-color: white;
	max-height: 40%;
}

.result {
	display: flex;
}

.result:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.resultImgBox {
	width: 12%;
	height: 12%;
}

.resultImg {
	width: 100%;
	border-radius: 4px;
}

.resultTitle {
	font-size: 14px;
	color: #757575;
	padding-left: 15px;
}

.resultIcon {
	padding-right: 5px;
}

.resultTitleDetail {
	margin: 0px;
}

.resultImgDark {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	width: 100%;
	height: 95%;
	background-color: rgba(0, 0, 0, 0.6);
}