.heading {
    font-weight: 800;
	color: #606060;
	font-size: 32px;
	position: relative;
    margin: 0px;
    padding: 20px 24px 0px 24px
}

.sectionHeading {
    font-weight: 800;
	color: #606060;
	font-size: 16px;
	position: relative;
    margin: 0px;
    padding: 10px 0px 10px 0px
}

.focusText {
    font-weight: 800;
	color: #CA3FF3;
	font-size: 16px;
	position: relative;
    margin: 0px;
    padding: 10px 0px 10px 0px
}

.controlSection {
    display: flex;
}

.switchContainer {
    padding: 0px 20px 0px 20px;
}

.createButton {
    background: linear-gradient(#B03EEE, #E640F8);
    font-weight: 700;
}

.cancelButton {
    background: linear-gradient(#BEBEBE, #EDEDED);
    font-weight: 700;
}

.buttons {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
}