.heading {
    font-weight: 800;
    color: var(--headingColor);
    font-size: 32px;
    position: relative;
    margin: 0px;
    padding: 20px 24px 0px 24px
}

.sectionHeading {
    font-weight: 800;
    color: var(--headingColor);
    font-size: 16px;
    position: relative;
    margin: 0px;
    padding: 20px 0px 10px 0px
}

.focusText {
    font-weight: 800;
    color: var(--focusText);
    font-size: 16px;
    position: relative;
    margin: 0px;
    padding: 10px 0px 10px 0px
}

.controlSection {
    display: flex;
}

.switchContainer {
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: flex-end;
}

.createButton {
    font-weight: 700;
}

.cancelButton {
    background: linear-gradient(#EDEDED, #BEBEBE);
    font-weight: 700;
}

.buttons {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
}

.addGenreSection {
    display: flex;
    align-items: center;
}

.spacing {
    width: 10px;
}

.searchResults {
    max-height: 400px;
    overflow: auto;
    border: 1px solid #c4c4c4;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--fieldColor);
}

.clearIcon:hover {
    cursor: pointer;
}

.listeners {
    max-height: 400px;
    overflow: auto;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background-color: var(--fieldColor);
}

.image {
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    pointer-events: none;
}