.thumbsContainer {
/*Display stuff*/
    display: 'flex';
    flex-direction: 'row';
    flex-wrap: 'wrap';
/*Box model stuff*/
    margin-top: 16px;
  };
  
.thumb {
/*Display stuff*/
    display: 'inline-flex';
/*Box model stuff*/
    width: 100;
    height: 100;
    margin-bottom: 8;
    margin-right: 8;
    padding: 4;
    border: '1px solid #eaeaea';
    border-radius: 2;
/*Miscellaneous*/
    box-sizing: 'border-box';
  };
  
.thumbInner {
/*Display stuff*/
    display: 'flex';
/*Box model stuff*/
    min-width: 0;
/*Miscellaneous*/
    overflow: 'hidden';
};
  
.thumbImg {
/*Display stuff*/
    display: 'block';
/*Box model stuff*/
    width: 'auto';
    height: '100%';
}