.genreButton {
    background: linear-gradient(#B03EEE, #E640F8);
    /* border-radius: 4px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 10px grey; */

}

.genreLabel {
    margin: 0px;
    font-weight: 700;
}

.genreIcon {
    height: 20px;
    padding-left: 10px;
}