.genreButton {
    background: linear-gradient(#B03EEE, #E640F8);
    margin-right: 10px;
}

.genreLabel {
    margin: 0px;
    font-weight: 700;
}

.genreIcon {
    height: 20px;
    padding-left: 10px;
}