.genreButton {
/*Box model stuff*/
    background: linear-gradient(#EDEDED, #BEBEBE);
}

.genreLabel {
/*Box model stuff*/
    margin: 0px;
/*Typography stuff*/
    font-weight: 600;
}

.genreIcon {
/*Box model stuff*/
    height: 20px;
    padding-left: 10px;
}