.page {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*Positioning stuff*/
    position: absolute;
    left: 50%;
    top: 50%;
/*Box model stuff*/
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
/*Manipulations stuff*/
    transform: translate(-50%, -50%);
/*Miscellaneous*/
    -ms-transform: translate(-50%, -50%);
}

.logo {
/*Box model stuff*/
    width: 13em;
}

.brandName {
/*Display stuff*/
    display: block;
/*Box model stuff*/
    margin: 0.5em;
    background: -webkit-linear-gradient(#b03eee, #e640f8);
/*Typography stuff*/
    font-family: 'Secular One';
    font-size: 4em;
/*Miscellaneous*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
/*Box model stuff*/
    background: linear-gradient(#b03eee, #e640f8);
}

.link {
/*Typography stuff*/
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
