.listContainer {
	max-height: 100%;
}

.queueGreyHeading {
	color: #606060;
	font-size: 36px;
	font-weight: bolder;
	display: flex;
	position: sticky;
	top: 0;
	background-color: #f5f5f5;
	z-index: 3;
}
