@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --backgroundColor: #515151; 
  --menuColor: #2c2c2c;
  --headingColor: #FFFFFF;
  --fieldColor: #2c2c2c;
  --fieldHoverColor: #202020;
  --fieldBorderColor: #1e1e1e;
  --focusText: #CA3FF3;
  --iconColor: #FFFFFF;
  --dialogColor: #202020;
  --shadowColor: rgb(58, 58, 58);

  /* Studio */
  --nowPlayingBackgroundColor: #cb9ce8;

  /* Chat */
  --chatBackgroundColor: #aa4ced;
  --replyBackgroundColor: #171717;
  --replyTextColor: #b6b6b6;
  --pillBackgroundColor: #171717;
  --pillTextColor: #b6b6b6;

  background-color: var(--backgroundColor);
  font-family: 'Open Sans';
}

[data-theme="dark"] {
  --backgroundColor: #F5F5F5;
  --menuColor: #E6E6E6;
  --headingColor: #757575;
  --fieldColor: #FFFFFF;
  --fieldHoverColor: #f1f1f1;
  --fieldBorderColor: #C4C4C4;
  --focusText: #CA3FF3;
  --iconColor: #757575;
  --dialogColor: #FFFFFF;
  --shadowColor: grey;

  /* Studio */
  --nowPlayingBackgroundColor: #e9dcf1;

  /* Chat */
  --chatBackgroundColor: #c68eef;
  --replyBackgroundColor: #f6f9fa;
  --replyTextColor: grey;
  --pillBackgroundColor: #ededed;
  --pillTextColor: #grey;

}


body {
  margin: 0px;
}