@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  font-family: 'Open Sans';
  background-color: #F5F5F5;
}

body {
  margin: 0px;
}