.navmenu {
	font-size: 10;
	background-color: var(--menuColor);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 3px 20px;
}

.navLink {
	display: flex;
	align-items: center;
}

.logo {
	height: 28px;
	pointer-events: none;
}

.brandName {
	margin-left: 15px;
	font-family: 'Secular One';
	font-size: 26px;
	background: -webkit-linear-gradient(#b03eee, #e640f8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button {
	border-radius: 4px !important;
	height: 40px;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile_layout {
	display: flex;
	align-items: center;
}

.profilePic {
	object-fit: cover;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	pointer-events: none;
}

.arrow {
	height: 15px;
}

.username {
	color: #ffffff;
	font-weight: 600;
	padding-left: 15px;
}

.icon {
	height: 30px;
	padding-right: 15px;
	pointer-events: none;
}

.menu_item {
	color: var(--headingColor);
}

.menu_title {
	color: var(--headingColor);
	margin: 5px 0px 5px 10px;
	font-size: 16px;
}

.menu_item:hover .menu_title {
	color: #b03eee;
}
