.studioCard {
    margin: 20px 0px 20px 0px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px grey;
}

.darkLayer {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    border-radius: 20px;
    margin: 0px;
}

.darkLayer:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}

.cardContent {
    padding: 20px 25px 20px 25px;
}

.studioNameSection {
    display: flex;
}

.soundWaves {
    margin-left: auto;
    height: 32px;
    bottom: 0;
}

.studioName {
    font-family: 'Open Sans';
    color: white;
    font-weight: bold;
    margin: 0px;
    padding-right: 0px;
    font-size: 28px;
    padding-bottom: 5px;
    position: relative;
}

.genreTags {
    display: flex;
    height: fit-content;
}

.listenersImages {
    padding-top: 25px;
    position: relative;
    padding-bottom: 25px;
}

.listenerImage {
    height: 25px;
    position: absolute;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.hostImage {
    height: 25px;
    float: right;
}

.greyOutImage {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}